

<html>
<head>
	<title>Jota Videoteca</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}mygriffith/css/gray.css" />
</head>
<body>

<h1>Jota Videoteca</h1>

BUSCA
<div id="toolbar">
    <form name="search" id="search" action="" method="POST">
        <input type="hidden" name="page">
        {{ form.as_p }}
        <input type="submit" value="Buscar" />
    </form>
</div>
<script type="text/javascript">
    document.getElementById("id_filme").focus();
    function buscar(page) {
        document.search.page.value = page        
        document.search.submit()
    }
</script>

{% include "admin/mygriffith/filmes.html" %}


</body>
</html>
