

<html>
<head>
	<title>Jota Videoteca</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}mygriffith/css/gray.css" />
</head>
<body>

<h1>Jota Videoteca</h1>


<select>
<option value="aaa">
</select>

<!-- ITEMS -->
{% for filme in filmes.object_list %} 

<table id="filme_{{ filme.id }}">
    {% if filme.image %}
	<tr class="image">
		<td rowspan="11">
			<img src="./posters/" alt="XIIIII" />
		</td>
	</tr>
    {% endif %}
	<tr class="title"> 
		<th>Título Brasil</th>
		<td>{{ filme.title }}</td>
	</tr>
	<tr class="otitle">
		<th>Título Original</th>
		<td>{{ filme.o_title }}</td>
	</tr>
	<tr class="director">
		<th>Diretor</th>
		<td>{{ filme.director }}</td>
	</tr>
	<tr class="genre">
		<th>Genero</th>
		<td>{{ filme.genre }}</td>
	</tr>
	<tr class="year">
		<th>Ano</th>
		<td>{{ filme.year }}</td>
	</tr>
	<tr class="runtime">
		<th>Duração</th>
		<td>{{ filme.runtime }}{% if filme.runtime %} min {% endif %}</td>
	</tr>
	<tr class="rating">
		<th>Rating</th>
		<td>{{ filme.rating }}</td>
	</tr>
	<tr class="links">
		<th>o_site</th>
		<td>{% if filme.o_site %}<a href="{{ filme.o_site }}">{{ filme.o_site }}</a>{% endif %}</td>
	</tr>
	<tr class="links">
		<th>site</th>
		<td>{% if filme.site %}<a href="{{ filme.site }}">{{ filme.site }}</a>{% endif %}</td>
	</tr>
	<tr class="links">
		<th>Trailer</th>
		<td>{% if filme.trailer %}<a href="{{ filme.trailer }}">{{ filme.trailer }}</a>{% endif %}</td>
	</tr>
	<tr class="plot">
		<th>Sinopse</th>
		<td>{{ filme.plot }}</td>
	</tr>
	<tr class="comments">
		<th>Comentarios</th>
		<td><a href="filme/{{ filme.id }}/comentario/add">Visualizar Comentarios</a></td>
	</tr>

</table>
{% endfor %} 

<div class="pagination">
    <span class="step-links">
        {% if filmes.has_previous %}
            <a href="?page={{ filmes.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ filmes.number }} of {{ filmes.paginator.num_pages }}.
        </span>

        {% if filmes.has_next %}
            <a href="?page={{ filmes.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
<!-- /ITEMS -->


</body>
</html>
